.sign-form__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 0 0 13px;
  width: 100%;
}

.sign-form__input:focus {
  outline: none;
}

.sign-form__input::placeholder {
  font-size: 14px;
  color: #ccc;
  font-weight: 400;
}
