.footer__copyright {
  margin: 0;
  font-size: 18px;
  line-height: 1.15;
  color: #545454;
}

@media screen and (max-width:768px) {
  .footer__copyright {
    font-size: calc(0.89vw + 11.14px);
  }
}
