.profile__info {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px 18px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    display: block;
    width: auto;
    max-width: 80%;
    position: relative;
    text-align: center;
    margin: 25px 0 30px;
  }
}
